* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav {
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    position: relative;

}

label.titleNav {
    color: black;
    font-size: 1.5rem;
    margin-left: 11rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

nav ul {

    margin-right: 8rem;
    position: absolute;
    right: 1rem;

}

nav ul li {
    display: inline-block;
    margin-left: 1rem;
    font-family: 'Mulish', sans-serif;
}

.opt {
    color: black;
    font-size: 1.2rem;
}

a.active,
a:hover {
    color: rgb(42, 63, 230);
    transition: .5s;
}

.feedback {
    background-color: rgb(42, 63, 230);
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    color: white !important;
}

.checkbtn {
    font-size: 2rem;
    color: black;
    position: absolute;
    cursor: pointer;
    right: 1rem;
    display: none;
}

#check {
    display: none;
}

.container1 {
    height: calc(100vh - 5rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section aside";

}

.section {
    height: 100%;
    width: 100%;
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;

}

.aside {
    height: 100%;
    width: 100%;
    grid-area: aside;

}





.aside {
    grid-area: aside;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.titleSesion1 {
    font-size: 5rem;
    font-family: 'Newsreader', serif;
    margin: 0 auto 0 25%;
}

.parrafoSesion1 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    color: rgb(108, 117, 125);
    padding-top: 1rem;
    margin: 0 auto 0 25%;
}

.circle {
    width: 20rem;
    height: 20rem;
    background: rgb(80, 44, 235);
    background: -moz-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
    background: -webkit-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
    background: -o-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
    background: -ms-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
    background: linear-gradient(133deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
    border-radius: 100%;
}

.x1{
    width: 1rem;
    height: auto;
    position: absolute;
    left: 10rem;
    bottom: 8rem;
}
.miniCircle1{
    width: 1rem;
    height: auto;
    position: absolute;
    right: 10rem;
    top: 10rem;
}

.video{
    height:23rem;
    width: auto;
    position:absolute;
}
.marco{
    height:24rem;
    width:auto;
    position:absolute;
}

/* ####################### responsive moviles ############################## */

@media (max-width: 640px) {

    .checkbtn {
        font-size: 3rem;
        color: black;
        display: block;
        right: 2rem;
    }

    label.titleNav {
        font-size: 2em;
        margin-left: 2rem !important;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
    }

    nav ul li {

        display: block;
        margin: 50px 0;
        line-height: 30px;


    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .opt {
        font-size: 1.4rem;
    }

    .feedback {
        font-size: 1.2rem;
        margin: 0 auto 0 auto;
        width: 10rem;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
        z-index: 10;
    }

    .container1 {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 17rem auto;
        grid-template-areas: "section"
            "aside";
    }

    .section {
        grid-area: section;
        height: auto;
        width: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;

    }

    .aside {
        grid-area: aside;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
    }

    .titleSesion1 {
        font-size: 3rem;
        font-family: 'Newsreader', serif;
        margin: 0 auto 0 auto;
    }

    .parrafoSesion1 {
        font-family: 'Mulish', sans-serif;
        font-size: .9rem;
        color: rgb(108, 117, 125);
        padding-top: 1rem;
        margin: 0 auto 0 auto;
    }

    .circle {
        height: 17rem;
        width: 17rem;
        background: rgb(80, 44, 235);
        background: -moz-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
        background: -webkit-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
        background: -o-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
        background: -ms-linear-gradient(43deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
        background: linear-gradient(133deg, rgb(80, 44, 235) 20%, rgb(158, 31, 226) 60%);
        border-radius: 100%;
    }

    .x1{
        width: 1rem;
        height: auto;
        position: absolute;
        left: 2rem;
        bottom: 4rem;
    }
    .miniCircle1{
        width: 1rem;
        height: auto;
        position: absolute;
        right: 2rem;
        top: 4rem;
    }

    .video{
        height:65%;
        width: auto;
        position:absolute;
    }
    .marco{
        height:69%;
        width:auto;
        position:absolute;
    }
}















/* @media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}  */